.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

.heading{
    border-left: 4px solid var(--primary);
}

.pull-right{
  float: right !important;
}

.Toastify__toast.Toastify__toast--default {
  border-radius: 5px !important;
}